html, body, #root {
  height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
}

.cs-conversation {
  border-bottom: 1px solid #ddd;
}

.cs-message--incoming {
  background-color: #f1f1f1 !important;
}

.cs-message--outgoing {
  background-color: #0084ff !important;
  color: white !important;
}
